.error {
  display: block;
  margin: 15px 25px 0 25px;

  .error-message {
    color: #9B2C33;
    padding: 21px 0 21px 17px;
    background-color: #FBDEDE;
    border: 1px solid #E3C7C7;
    border-radius: 4px;
  }
}

